.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 65px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form-group
{
  clear: both;
}

.estimate-tree .rst__nodeContent
{
  width: 96%;
}

.estimate-tree .rst__rowLabel
{
  flex: 1 1 auto;
}

.estimate-tree .rst__rowContents
{
  padding-top: 10px;
  align-items: flex-start;
}

.App .modal-lg {
  width: 70%;
}